<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946031418647-ptvtrkba6647gv4ebvlldecno0fo8n1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946031418647-ptvtrkba6647gv4ebvlldecno0fo8n1u</string>
	<key>API_KEY</key>
	<string>AIzaSyA6c_R6NM42_2AqUkQP9VlYASHXsiO9vIo</string>
	<key>GCM_SENDER_ID</key>
	<string>946031418647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rootllyai</string>
	<key>PROJECT_ID</key>
	<string>rootally-ai-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>rootally-ai-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946031418647:ios:9858e89eaee33d8907ab52</string>
</dict>
</plist>